<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="icon" href="data:,">
    <title>userUpdate</title>
    <style>
        .error{
            color : red;
        }
        .button-container {
            display: flex;
            gap: 3px;
        }
    </style>
    <script>
        function confirmSubmit() {
            return confirm("수정 하시겠습니까?"); // 확인 창을 띄우고 '확인'을 누르면 true, '취소'를 누르면 false
        }
    </script>
</head>
<body style="text-align:center; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
<div>
    <h1 style="font-size: 3rem;">회원 수정</h1>
    <form th:action method="post" th:object="${updateUser}" style="width: 400px;" enctype="multipart/form-data" onsubmit="return confirmSubmit();">

        email
        <br>
        <input type="text" name="email" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'form-control is-invalid form-control-lg' : 'form-control form-control-lg'" placeholder="email" style="margin-top: 5px; margin-bottom: 5px;">
        <div  th:errors="*{email}" class="invalid-feedback">
            email 오류
        </div>

        닉네임
        <br>
        <input type="text" name="nickname" th:field="*{nickname}" th:classappend="${#fields.hasErrors('nickname')} ? 'form-control is-invalid form-control-lg' : 'form-control form-control-lg'" placeholder="닉네임" style="margin-top: 5px; margin-bottom: 5px;">
        <div  th:errors="*{nickname}" class="invalid-feedback">
            nickname 오류
        </div>

        프로필 사진 선택
        <br>
        <input type="file" name="imageFile" th:classappend="${#fields.hasGlobalErrors()} ? 'form-control is-invalid form-control-lg' : 'form-control form-control-lg'" id="formFileLg" style="margin-top: 5px;">

        <div th:if="${#fields.hasGlobalErrors()}">
            <input class="form-control is-invalid" hidden="hidden">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="invalid-feedback" style="margin-bottom: 0;">전체 오류 메시지</p>
        </div>

        <div class="button-container" style="margin-top: 5px;">
            <button type="submit" class="btn btn-primary btn-lg" style="flex:1">수정</button>
            <button type="button" th:onclick="|location.href='@{/user}'|" class="btn btn-secondary btn-lg" style="flex:1">취소</button>
        </div>
    </form>
</div>
</body>
</html>