<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="icon" href="data:,">
        <title>메인</title>
        <style>
            h1 {
               text-align: center;  /* h1 가로 중앙 정렬 */
            }
        </style>
        <script>
            function confirmSubmit() {
                return confirm("로그아웃 하시겠습니까?"); // 확인 창을 띄우고 '확인'을 누르면 true, '취소'를 누르면 false
            }
        </script>
    </head>
    <body style="margin : 20px">
        <h1>
            <span>어서오세요! </span>
            <span sec:authorize="isAuthenticated()" th:text="${user.nickname}"></span>
            <img sec:authorize="isAuthenticated()" th:src="@{/image/{savedFilename}(savedFilename=${user.savedFilename})}" width="70" height="70" style="position: absolute; right: 10px; top: 8px;"/>
        </h1>
        <hr>

        <div style="display: flex; justify-content: space-between;">
            <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/}'|">전체 글</button>

            <form th:action="@{/logout}" method="get" style="text-align:right;  display: inline-block; " onsubmit="return confirmSubmit();">
                <button sec:authorize="isAnonymous()" th:onclick="|location.href='@{/login}'|" type="button" class="btn btn-primary">로그인</button>
                <button sec:authorize="isAnonymous()" th:onclick="|location.href='@{/signup}'|" type="button" class="btn btn-primary">회원 가입</button>
                <button sec:authorize="isAuthenticated()" type="button" class="btn btn-primary">포스트 작성</button>
                <button sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/user}'|" type="button" class="btn btn-primary">유저 정보</button>
                <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-primary">로그아웃</button>
            </form>
        </div>

        <br>

        <table style="width: 100%; text-align:center;" class="table table-striped table-hover">
            <colgroup>
                <col style="width: 70%;"> <!-- 제목 열 -->
                <col style="width: 10%;"> <!-- 유저명 열 -->
                <col style="width: 10%;"> <!-- 생성 날짜 열 -->
                <col style="width: 10%;"> <!-- 조회수 열 -->
            </colgroup>
            <thead>
            <tr>
                <th>제목</th>
                <th>유저명</th>
                <th>생성 날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each = "post : ${posts}" >
                    <td><a th:href="@{/post/{id}(id = ${post.postId})}" th:text = "${post.title}" style="text-decoration-line: none;">제목</a></td>
                    <td><a th:href="@{/post/{id}(id = ${post.postId})}" th:text = "${post.nickname}" style="text-decoration-line: none;">유저명</a></td>
                    <td><a th:href="@{/post/{id}(id = ${post.postId})}"  th:text = "${#temporals.format(post.createdDate, 'yyyy.MM.dd HH:mm')}" style="text-decoration-line: none;">생성 날짜</a></td>
                    <td><a th:href="@{/post/{id}(id = ${post.postId})}" th:text = "${post.viewCount}" style="text-decoration-line: none;">조회수</a></td>
                </tr>
            </tbody>
        </table>

        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" th:href="${posts.first} ? '#' : @{/?page=0}"> << </a></li>

            <li class="page-item"><a class="page-link" th:href="${posts.first} ? '#' : @{/(page = ${posts.getNumber() - 1})}"> < </a></li>

            <li th:classappend="${number == posts.getNumber()} ? 'page-item active' : 'page-item'" th:each="number : ${#numbers.sequence(paging.startPage, paging.endPage)}">
                <a class="page-link" th:href="${number == posts.getNumber()} ? '#' : @{/(page = ${number})}" th:text="${number+1}">1</a>
            </li>

            <li class="page-item"><a class="page-link" th:href="${posts.last} ? '#' : @{/(page = ${posts.getNumber() + 1})}"> > </a></li>

            <li th:if="${posts.getTotalPages() == 0}" class="page-item"><a class="page-link" href="#"> >> </a></li>
            <li th:unless="${posts.getTotalPages() == 0}" class="page-item"><a class="page-link" th:href="${posts.last} ? '#' : @{/(page = ${posts.getTotalPages() - 1})}"> >> </a></li>
        </ul>
    </body>
</html>